# These are all the dependencies if you wanna run Veron1CA.
# Go through README.md to know about the installation process.

flask
uvloop
tinydb
topggpy
gitpython
youtube-dl
qrcode[pil]
python-decouple
better_profanity
disnake[voice]
ffmpeg-python